<section class="mt-4">
    <div class="container-fluid">
        <div class="chart shadow rounded-2 p-3">
            <h3 class="m-0">Charts</h3>
        </div>
    </div>
</section>

<section class="mt-4">
    <div class="container-fluid">
        <div class="row g-4 justify-content-center">
            <div class="col-lg-6">
                <div class="chart shadow rounded-2 p-3">
                    <canvas id="canvas">{{chart}}</canvas>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="chart shadow rounded-2 p-3">
                    <canvas id="bar">{{chart}}</canvas>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="chart shadow rounded-2 p-3">
                    <canvas id="pie">{{chart}}</canvas>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="chart shadow rounded-2 p-3">
                    <canvas id="line">{{chart}}</canvas>
                </div>
            </div>
        </div>
    </div>
</section>