<section class="mt-4">
    <div class="container-fluid">
        <div class="manament shadow rounded-2 p-3">
            <h3 class="m-0">Project's</h3>
        </div>
    </div>
</section>

<!-- section end  -->

<section class="mt-4">
    <div class="container-fluid">
        <div class="row g-3 justify-content-center">
            <div class="col-lg-4">
                <div class="manament p-3 rounded shadow">
                    <div class="d-flex align-items-center">
                        <h4>Endless admin Design</h4>
                        <div class="ms-auto">
                            <button class="btn btn-primary">Doing</button>
                        </div>
                    </div>
                    <!--  -->
                    <div class="d-flex align-items-center pb-3">
                        <img src="../../assets/image/avatar1.png" alt="logo" class="rounded-circle"
                            style="width: 50px;">
                        <p class="fw-bold m-0 ps-3">Themeforest, australia</p>
                    </div>
                    <p>Endless Admin is a full featured, multipurpose, premium bootstrap admin template.</p>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Issues</h5>
                        <h5 class="m-auto">12</h5>
                    </div>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Resolved</h5>
                        <h5 class="m-auto">5</h5>
                    </div>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Comment</h5>
                        <h5 class="m-auto">8</h5>
                    </div>

                    <!--  -->

                    <div class="d-flex align-items-center">
                        <div>
                            <img src="../../assets/image/avatar5.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                            <img src="../../assets/image/avatar7.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                            <img src="../../assets/image/avatar3.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                        </div>
                        <p class="m-0 ps-4">+10 More</p>
                    </div>
                    <div>
                        <div class="d-flex align-items-center">
                            <h5 class="pt-3">75%</h5>
                            <h5 class="ms-auto m-0">Done</h5>
                        </div>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-danger w-75">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="manament p-3 rounded shadow">
                    <div class="d-flex align-items-center">
                        <h4>Endless admin Design</h4>
                        <div class="ms-auto">
                            <button class="btn btn-primary">Doing</button>
                        </div>
                    </div>
                    <!--  -->
                    <div class="d-flex align-items-center pb-3">
                        <img src="../../assets/image/avatar2.png" alt="logo" class="rounded-circle"
                            style="width: 50px;">
                        <p class="fw-bold m-0 ps-3">Themeforest, australia</p>
                    </div>
                    <p>Endless Admin is a full featured, multipurpose, premium bootstrap admin template.</p>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Issues</h5>
                        <h5 class="m-auto">12</h5>
                    </div>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Resolved</h5>
                        <h5 class="m-auto">5</h5>
                    </div>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Comment</h5>
                        <h5 class="m-auto">8</h5>
                    </div>

                    <!--  -->

                    <div class="d-flex align-items-center">
                        <div>
                            <img src="../../assets/image/avatar3.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                            <img src="../../assets/image/avatar8.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                            <img src="../../assets/image/avatar9.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                        </div>
                        <p class="m-0 ps-4">+10 More</p>
                    </div>
                    <div>
                        <div class="d-flex align-items-center">
                            <h5 class="pt-3">75%</h5>
                            <h5 class="ms-auto m-0">Done</h5>
                        </div>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-danger w-75">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="manament p-3 rounded shadow">
                    <div class="d-flex align-items-center">
                        <h4>Endless admin Design</h4>
                        <div class="ms-auto">
                            <button class="btn btn-primary">Doing</button>
                        </div>
                    </div>
                    <!--  -->
                    <div class="d-flex align-items-center pb-3">
                        <img src="../../assets/image/avatar3.png" alt="logo" class="rounded-circle"
                            style="width: 50px;">
                        <p class="fw-bold m-0 ps-3">Themeforest, australia</p>
                    </div>
                    <p>Endless Admin is a full featured, multipurpose, premium bootstrap admin template.</p>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Issues</h5>
                        <h5 class="m-auto">12</h5>
                    </div>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Resolved</h5>
                        <h5 class="m-auto">5</h5>
                    </div>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Comment</h5>
                        <h5 class="m-auto">8</h5>
                    </div>

                    <!--  -->

                    <div class="d-flex align-items-center">
                        <div>
                            <img src="../../assets/image/avatar1.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                            <img src="../../assets/image/avatar3.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                            <img src="../../assets/image/avatar2.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                        </div>
                        <p class="m-0 ps-4">+10 More</p>
                    </div>
                    <div>
                        <div class="d-flex align-items-center">
                            <h5 class="pt-3">75%</h5>
                            <h5 class="ms-auto m-0">Done</h5>
                        </div>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-danger w-75">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="manament p-3 rounded shadow">
                    <div class="d-flex align-items-center">
                        <h4>Endless admin Design</h4>
                        <div class="ms-auto">
                            <button class="btn btn-primary">Doing</button>
                        </div>
                    </div>
                    <!--  -->
                    <div class="d-flex align-items-center pb-3">
                        <img src="../../assets/image/avatar4.png" alt="logo" class="rounded-circle"
                            style="width: 50px;">
                        <p class="fw-bold m-0 ps-3">Themeforest, australia</p>
                    </div>
                    <p>Endless Admin is a full featured, multipurpose, premium bootstrap admin template.</p>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Issues</h5>
                        <h5 class="m-auto">12</h5>
                    </div>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Resolved</h5>
                        <h5 class="m-auto">5</h5>
                    </div>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Comment</h5>
                        <h5 class="m-auto">8</h5>
                    </div>

                    <!--  -->

                    <div class="d-flex align-items-center">
                        <div>
                            <img src="../../assets/image/avatar-23.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                            <img src="../../assets/image/avatar7.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                            <img src="../../assets/image/avatar5.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                        </div>
                        <p class="m-0 ps-4">+10 More</p>
                    </div>
                    <div>
                        <div class="d-flex align-items-center">
                            <h5 class="pt-3">75%</h5>
                            <h5 class="ms-auto m-0">Done</h5>
                        </div>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-danger w-75">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="manament p-3 rounded shadow">
                    <div class="d-flex align-items-center">
                        <h4>Endless admin Design</h4>
                        <div class="ms-auto">
                            <button class="btn btn-primary">Doing</button>
                        </div>
                    </div>
                    <!--  -->
                    <div class="d-flex align-items-center pb-3">
                        <img src="../../assets/image/avatar5.png" alt="logo" class="rounded-circle"
                            style="width: 50px;">
                        <p class="fw-bold m-0 ps-3">Themeforest, australia</p>
                    </div>
                    <p>Endless Admin is a full featured, multipurpose, premium bootstrap admin template.</p>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Issues</h5>
                        <h5 class="m-auto">12</h5>
                    </div>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Resolved</h5>
                        <h5 class="m-auto">5</h5>
                    </div>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Comment</h5>
                        <h5 class="m-auto">8</h5>
                    </div>

                    <!--  -->

                    <div class="d-flex align-items-center">
                        <div>
                            <img src="../../assets/image/avatar3.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                            <img src="../../assets/image/avatar8.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                            <img src="../../assets/image/avatar9.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                        </div>
                        <p class="m-0 ps-4">+10 More</p>
                    </div>
                    <div>
                        <div class="d-flex align-items-center">
                            <h5 class="pt-3">75%</h5>
                            <h5 class="ms-auto m-0">Done</h5>
                        </div>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-danger w-75">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="manament p-3 rounded shadow">
                    <div class="d-flex align-items-center">
                        <h4>Endless admin Design</h4>
                        <div class="ms-auto">
                            <button class="btn btn-primary">Doing</button>
                        </div>
                    </div>
                    <!--  -->
                    <div class="d-flex align-items-center pb-3">
                        <img src="../../assets/image/avatar7.png" alt="logo" class="rounded-circle"
                            style="width: 50px;">
                        <p class="fw-bold m-0 ps-3">Themeforest, australia</p>
                    </div>
                    <p>Endless Admin is a full featured, multipurpose, premium bootstrap admin template.</p>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Issues</h5>
                        <h5 class="m-auto">12</h5>
                    </div>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Resolved</h5>
                        <h5 class="m-auto">5</h5>
                    </div>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Comment</h5>
                        <h5 class="m-auto">8</h5>
                    </div>

                    <!--  -->

                    <div class="d-flex align-items-center">
                        <div>
                            <img src="../../assets/image/avatar3.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                            <img src="../../assets/image/avatar-23.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                            <img src="../../assets/image/avatar2.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                        </div>
                        <p class="m-0 ps-4">+10 More</p>
                    </div>
                    <div>
                        <div class="d-flex align-items-center">
                            <h5 class="pt-3">75%</h5>
                            <h5 class="ms-auto m-0">Done</h5>
                        </div>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-danger w-75">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary my-3 ms-auto" (click)="show()">Show All</button>
        <div class="row g-3 justify-content-center" *ngIf="display">
            <div class="col-lg-4">
                <div class="manament p-3 rounded shadow">
                    <div class="d-flex align-items-center">
                        <h4>Endless admin Design</h4>
                        <div class="ms-auto">
                            <button class="btn btn-primary">Doing</button>
                        </div>
                    </div>
                    <!--  -->
                    <div class="d-flex align-items-center pb-3">
                        <img src="../../assets/image/avatar1.png" alt="logo" class="rounded-circle"
                            style="width: 50px;">
                        <p class="fw-bold m-0 ps-3">Themeforest, australia</p>
                    </div>
                    <p>Endless Admin is a full featured, multipurpose, premium bootstrap admin template.</p>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Issues</h5>
                        <h5 class="m-auto">12</h5>
                    </div>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Resolved</h5>
                        <h5 class="m-auto">5</h5>
                    </div>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Comment</h5>
                        <h5 class="m-auto">8</h5>
                    </div>

                    <!--  -->

                    <div class="d-flex align-items-center">
                        <div>
                            <img src="../../assets/image/avatar5.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                            <img src="../../assets/image/avatar7.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                            <img src="../../assets/image/avatar3.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                        </div>
                        <p class="m-0 ps-4">+10 More</p>
                    </div>
                    <div>
                        <div class="d-flex align-items-center">
                            <h5 class="pt-3">75%</h5>
                            <h5 class="ms-auto m-0">Done</h5>
                        </div>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-danger w-75">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="manament p-3 rounded shadow">
                    <div class="d-flex align-items-center">
                        <h4>Endless admin Design</h4>
                        <div class="ms-auto">
                            <button class="btn btn-primary">Doing</button>
                        </div>
                    </div>
                    <!--  -->
                    <div class="d-flex align-items-center pb-3">
                        <img src="../../assets/image/avatar2.png" alt="logo" class="rounded-circle"
                            style="width: 50px;">
                        <p class="fw-bold m-0 ps-3">Themeforest, australia</p>
                    </div>
                    <p>Endless Admin is a full featured, multipurpose, premium bootstrap admin template.</p>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Issues</h5>
                        <h5 class="m-auto">12</h5>
                    </div>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Resolved</h5>
                        <h5 class="m-auto">5</h5>
                    </div>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Comment</h5>
                        <h5 class="m-auto">8</h5>
                    </div>

                    <!--  -->

                    <div class="d-flex align-items-center">
                        <div>
                            <img src="../../assets/image/avatar3.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                            <img src="../../assets/image/avatar8.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                            <img src="../../assets/image/avatar9.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                        </div>
                        <p class="m-0 ps-4">+10 More</p>
                    </div>
                    <div>
                        <div class="d-flex align-items-center">
                            <h5 class="pt-3">75%</h5>
                            <h5 class="ms-auto m-0">Done</h5>
                        </div>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-danger w-75">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="manament p-3 rounded shadow">
                    <div class="d-flex align-items-center">
                        <h4>Endless admin Design</h4>
                        <div class="ms-auto">
                            <button class="btn btn-primary">Doing</button>
                        </div>
                    </div>
                    <!--  -->
                    <div class="d-flex align-items-center pb-3">
                        <img src="../../assets/image/avatar3.png" alt="logo" class="rounded-circle"
                            style="width: 50px;">
                        <p class="fw-bold m-0 ps-3">Themeforest, australia</p>
                    </div>
                    <p>Endless Admin is a full featured, multipurpose, premium bootstrap admin template.</p>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Issues</h5>
                        <h5 class="m-auto">12</h5>
                    </div>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Resolved</h5>
                        <h5 class="m-auto">5</h5>
                    </div>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Comment</h5>
                        <h5 class="m-auto">8</h5>
                    </div>

                    <!--  -->

                    <div class="d-flex align-items-center">
                        <div>
                            <img src="../../assets/image/avatar1.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                            <img src="../../assets/image/avatar3.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                            <img src="../../assets/image/avatar2.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                        </div>
                        <p class="m-0 ps-4">+10 More</p>
                    </div>
                    <div>
                        <div class="d-flex align-items-center">
                            <h5 class="pt-3">75%</h5>
                            <h5 class="ms-auto m-0">Done</h5>
                        </div>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-danger w-75">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="manament p-3 rounded shadow">
                    <div class="d-flex align-items-center">
                        <h4>Endless admin Design</h4>
                        <div class="ms-auto">
                            <button class="btn btn-primary">Doing</button>
                        </div>
                    </div>
                    <!--  -->
                    <div class="d-flex align-items-center pb-3">
                        <img src="../../assets/image/avatar4.png" alt="logo" class="rounded-circle"
                            style="width: 50px;">
                        <p class="fw-bold m-0 ps-3">Themeforest, australia</p>
                    </div>
                    <p>Endless Admin is a full featured, multipurpose, premium bootstrap admin template.</p>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Issues</h5>
                        <h5 class="m-auto">12</h5>
                    </div>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Resolved</h5>
                        <h5 class="m-auto">5</h5>
                    </div>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Comment</h5>
                        <h5 class="m-auto">8</h5>
                    </div>

                    <!--  -->

                    <div class="d-flex align-items-center">
                        <div>
                            <img src="../../assets/image/avatar-23.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                            <img src="../../assets/image/avatar7.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                            <img src="../../assets/image/avatar5.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                        </div>
                        <p class="m-0 ps-4">+10 More</p>
                    </div>
                    <div>
                        <div class="d-flex align-items-center">
                            <h5 class="pt-3">75%</h5>
                            <h5 class="ms-auto m-0">Done</h5>
                        </div>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-danger w-75">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="manament p-3 rounded shadow">
                    <div class="d-flex align-items-center">
                        <h4>Endless admin Design</h4>
                        <div class="ms-auto">
                            <button class="btn btn-primary">Doing</button>
                        </div>
                    </div>
                    <!--  -->
                    <div class="d-flex align-items-center pb-3">
                        <img src="../../assets/image/avatar5.png" alt="logo" class="rounded-circle"
                            style="width: 50px;">
                        <p class="fw-bold m-0 ps-3">Themeforest, australia</p>
                    </div>
                    <p>Endless Admin is a full featured, multipurpose, premium bootstrap admin template.</p>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Issues</h5>
                        <h5 class="m-auto">12</h5>
                    </div>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Resolved</h5>
                        <h5 class="m-auto">5</h5>
                    </div>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Comment</h5>
                        <h5 class="m-auto">8</h5>
                    </div>

                    <!--  -->

                    <div class="d-flex align-items-center">
                        <div>
                            <img src="../../assets/image/avatar3.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                            <img src="../../assets/image/avatar8.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                            <img src="../../assets/image/avatar9.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                        </div>
                        <p class="m-0 ps-4">+10 More</p>
                    </div>
                    <div>
                        <div class="d-flex align-items-center">
                            <h5 class="pt-3">75%</h5>
                            <h5 class="ms-auto m-0">Done</h5>
                        </div>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-danger w-75">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="manament p-3 rounded shadow">
                    <div class="d-flex align-items-center">
                        <h4>Endless admin Design</h4>
                        <div class="ms-auto">
                            <button class="btn btn-primary">Doing</button>
                        </div>
                    </div>
                    <!--  -->
                    <div class="d-flex align-items-center pb-3">
                        <img src="../../assets/image/avatar7.png" alt="logo" class="rounded-circle"
                            style="width: 50px;">
                        <p class="fw-bold m-0 ps-3">Themeforest, australia</p>
                    </div>
                    <p>Endless Admin is a full featured, multipurpose, premium bootstrap admin template.</p>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Issues</h5>
                        <h5 class="m-auto">12</h5>
                    </div>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Resolved</h5>
                        <h5 class="m-auto">5</h5>
                    </div>
                    <!--  -->

                    <div class="d-flex align-items-center text-start">
                        <h5>Comment</h5>
                        <h5 class="m-auto">8</h5>
                    </div>

                    <!--  -->

                    <div class="d-flex align-items-center">
                        <div>
                            <img src="../../assets/image/avatar3.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                            <img src="../../assets/image/avatar-23.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                            <img src="../../assets/image/avatar2.png" alt="" class="rounded-circle"
                                style="width: 60px;">
                        </div>
                        <p class="m-0 ps-4">+10 More</p>
                    </div>
                    <div>
                        <div class="d-flex align-items-center">
                            <h5 class="pt-3">75%</h5>
                            <h5 class="ms-auto m-0">Done</h5>
                        </div>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-danger w-75">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>