<section class="sidebar">
        <div class="ps-2 pt-4 d-flex align-items-center ">
                <a href="#"><img src="../../assets/image/logo.png" alt="logo" style="width: 70px;"></a>
                <h2 class="tnt">TOPNTECH</h2>
        </div>
        <ul class="list-unstyled">
                <li class="list-items"><a routerLink=""><i class="fa-solid fa-gauge fs-3 me-4"></i>
                                <span>Dashboard</span></a> </li>
                <li class="list-items"><a routerLink="managment"><i class="fa-solid fa-bars-progress fs-3 me-4"></i>
                                <span>Project</span></a> </li>
                <li class="list-items"><a routerLink="profile"> <i class="fa-solid fa-address-card fs-3 me-4"></i>
                                <span>Profile</span></a></li>
                <li class="list-items"><a routerLink="calender"><i class="fa-solid fa-calendar-days fs-3 me-4"></i>
                                <span>Calender</span></a> </li>
                <li class="list-items"><a routerLink="chat"><i class="fa-brands fa-rocketchat fs-3 me-4"></i>
                                <span>Chat</span></a></li>
                <li class="list-items"><a routerLink="chart"><i class="fa-solid fa-chart-pie fs-3 me-4"></i>
                                <span>Charts</span></a></li>
                <li class="list-items"><a routerLink="project"><i class="fa-brands fa-app-store-ios fs-3 me-4"></i>
                                <span>Apps</span></a></li>
                <li class="list-items"><a routerLink="error"><i class="fa-solid fa-triangle-exclamation fs-3 me-4"></i>
                                <span>Error Pages</span> </a></li>
        </ul>
</section>