<section class="mt-4">
    <div class="container-fluid">
        <div class="dash shadow rounded">
            <h3 class="m-0">Dashboard</h3>
        </div>
    </div>
</section>

<!-- section end  -->

<section class="mt-4">
    <div class="container-fluid">
        <div class="cards">
            <div class="row g-3 justify-content-center">
                <div class="col-lg-3 col-md-6">
                    <div class="crd p-4 shadow">
                        <div class="rounded d-flex">
                            <div>
                                <h5>$34,152</h5>
                                <p>Shipping fees are not</p>
                            </div>
                            <h6 class="ms-auto">+16.24%</h6>
                        </div>
                        <div class="d-flex">
                            <a href="#" class="text-white">View net earnings</a>
                            <h4 class="ms-auto">$</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="crd p-4 shadow">
                        <div class="rounded d-flex">
                            <div>
                                <h5>$36,894</h5>
                                <p>Orders</p>
                            </div>
                            <h6 class="ms-auto">+16.24%</h6>
                        </div>
                        <div class="d-flex">
                            <a href="#" class="text-white">View net earnings</a>
                            <h4 class="ms-auto">$</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="crd p-4 shadow">
                        <div class="rounded d-flex">
                            <div>
                                <h5>$34,152</h5>
                                <p>Customers</p>
                            </div>
                            <h6 class="ms-auto">+16.24%</h6>
                        </div>
                        <div class="d-flex">
                            <a href="#" class="text-white">View net earnings</a>
                            <h4 class="ms-auto">$</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="crd p-4 shadow">
                        <div class="rounded d-flex">
                            <div>
                                <h5>$724,152</h5>
                                <p>My Balance</p>
                            </div>
                            <h6 class="ms-auto">+16.24%</h6>
                        </div>
                        <div class="d-flex">
                            <a href="#" class="text-white">View net earnings</a>
                            <h4 class="ms-auto">$</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section end  -->

<section class="mt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5">
                <div class="custmore p-4 shadow rounded">
                    <div class="d-flex align-items-center mb-3">
                        <h4>New Customers</h4>
                        <i class="fa-solid fa-ellipsis-vertical ms-auto"></i>
                    </div>
                    <div>
                        <ul class="p-0">
                            <li class="d-flex align-items-center py-1">
                                <div class="d-flex align-items-center">
                                    <img src="../../assets/image/avatar-12.png" alt="img" class="rounded-circle"
                                        style="width: 100px;">
                                    <div class="ms-3 d-flex">
                                        <div>
                                            <h5>Ammed Khan</h5>
                                            <p>@iftikarahmed</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex ms-auto">
                                    <h6 class="me-5">2 Orders</h6>
                                    <h6 class="me-3">$179</h6>
                                </div>
                            </li>
                            <li class="d-flex align-items-center py-1">
                                <div class="d-flex align-items-center">
                                    <img src="../../assets/image/avatar-3.png" alt="img" class="rounded-circle"
                                        style="width: 100px;">
                                    <div class="ms-3 d-flex">
                                        <div>
                                            <h5>Ammed Khan</h5>
                                            <p>@iftikarahmed</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex ms-auto">
                                    <h6 class="me-5">2 Orders</h6>
                                    <h6 class="me-3">$179</h6>
                                </div>
                            </li>
                            <li class="d-flex align-items-center py-1">
                                <div class="d-flex align-items-center">
                                    <img src="../../assets/image/avatar1.png" alt="img" class="rounded-circle"
                                        style="width: 100px;">
                                    <div class="ms-3 d-flex">
                                        <div>
                                            <h5>Ammed Khan</h5>
                                            <p>@iftikarahmed</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex ms-auto">
                                    <h6 class="me-5">2 Orders</h6>
                                    <h6 class="me-3">$179</h6>
                                </div>
                            </li>
                            <li class="d-flex align-items-center py-1">
                                <div class="d-flex align-items-center">
                                    <img src="../../assets/image/avatar2.png" alt="img" class="rounded-circle"
                                        style="width: 100px;">
                                    <div class="ms-3 d-flex">
                                        <div>
                                            <h5>Ammed Khan</h5>
                                            <p>@iftikarahmed</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex ms-auto">
                                    <h6 class="me-5">2 Orders</h6>
                                    <h6 class="me-3">$179</h6>
                                </div>
                            </li>
                            <li class="d-flex align-items-center py-1">
                                <div class="d-flex align-items-center">
                                    <img src="../../assets/image/avatar3.png" alt="img" class="rounded-circle"
                                        style="width: 100px;">
                                    <div class="ms-3 d-flex">
                                        <div>
                                            <h5>Ammed Khan</h5>
                                            <p>@iftikarahmed</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex ms-auto">
                                    <h6 class="me-5">2 Orders</h6>
                                    <h6 class="me-3">$179</h6>
                                </div>
                            </li>
                            <li class="d-flex align-items-center py-1">
                                <div class="d-flex align-items-center">
                                    <img src="../../assets/image/avatar4.png" alt="img" class="rounded-circle"
                                        style="width: 100px;">
                                    <div class="ms-3 d-flex">
                                        <div>
                                            <h5>Ammed Khan</h5>
                                            <p>@iftikarahmed</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex ms-auto">
                                    <h6 class="me-5">2 Orders</h6>
                                    <h6 class="me-3">$179</h6>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="orders p-4 shadow rounded">
                    <div class="d-flex align-items-center">
                        <h4>Recent Orders</h4>
                        <div class="ms-auto">
                            <input type="text" id="search" placeholder="Search..."
                                class="bg-transparent w-100 py-2 ps-2" style="border:1px solid rgb(49, 49, 49);">
                        </div>
                    </div>
                    <div class="pt-4">
                        <table>
                            <thead>
                                <tr>
                                    <th class="px-2">Order ID</th>
                                    <th class="px-2">Customer</th>
                                    <th class="px-2">Order Date</th>
                                    <th class="px-2">Payment Method</th>
                                    <th class="px-2">Delivery Date</th>
                                    <th class="px-2">Total Amount</th>
                                    <th class="px-2">Stutas</th>
                                    <th class="px-2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center" datalable="Order ID">855212</td>
                                    <td class="text-center" datalable="Customer">Sowerd</td>
                                    <td class="text-center" datalable="Order Date">29/10/2023</td>
                                    <td class="text-center" datalable="Payment Method">Cash</td>
                                    <td class="text-center" datalable="Delivery Date">2/11/2023</td>
                                    <td class="text-center" datalable="Total Amount">$05.22</td>
                                    <td class="text-center" datalable="Stutas">Paid</td>
                                    <td class="text-center" datalable="Action">
                                        <div class="d-flex align-items-center">
                                            <i class="fa-solid fa-trash-can mx-1"></i>
                                            <i class="fa-solid fa-eye mx-1"></i>
                                            <i class="fa-solid fa-pen mx-1"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" datalable="Order ID">855213</td>
                                    <td class="text-center" datalable="Customer">Sowerd</td>
                                    <td class="text-center" datalable="Order Date">29/10/2023</td>
                                    <td class="text-center" datalable="Payment Method">Cash</td>
                                    <td class="text-center" datalable="Delivery Date">2/11/2023</td>
                                    <td class="text-center" datalable="Total Amount">$05.22</td>
                                    <td class="text-center" datalable="Stutas">Paid</td>
                                    <td class="text-center" datalable="Action">
                                        <div class="d-flex align-items-center">
                                            <i class="fa-solid fa-trash-can mx-1"></i>
                                            <i class="fa-solid fa-eye mx-1"></i>
                                            <i class="fa-solid fa-pen mx-1"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" datalable="Order ID">855214</td>
                                    <td class="text-center" datalable="Customer">Sowerd</td>
                                    <td class="text-center" datalable="Order Date">29/10/2023</td>
                                    <td class="text-center" datalable="Payment Method">Cash</td>
                                    <td class="text-center" datalable="Delivery Date">2/11/2023</td>
                                    <td class="text-center" datalable="Total Amount">$05.22</td>
                                    <td class="text-center" datalable="Stutas">Paid</td>
                                    <td class="text-center" datalable="Action">
                                        <div class="d-flex align-items-center">
                                            <i class="fa-solid fa-trash-can mx-1"></i>
                                            <i class="fa-solid fa-eye mx-1"></i>
                                            <i class="fa-solid fa-pen mx-1"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" datalable="Order ID">855215</td>
                                    <td class="text-center" datalable="Customer">Sowerd</td>
                                    <td class="text-center" datalable="Order Date">29/10/2023</td>
                                    <td class="text-center" datalable="Payment Method">Cash</td>
                                    <td class="text-center" datalable="Delivery Date">2/11/2023</td>
                                    <td class="text-center" datalable="Total Amount">$05.22</td>
                                    <td class="text-center" datalable="Stutas">Paid</td>
                                    <td class="text-center" datalable="Action">
                                        <div class="d-flex align-items-center">
                                            <i class="fa-solid fa-trash-can mx-1"></i>
                                            <i class="fa-solid fa-eye mx-1"></i>
                                            <i class="fa-solid fa-pen mx-1"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" datalable="Order ID">855216</td>
                                    <td class="text-center" datalable="Customer">Sowerd</td>
                                    <td class="text-center" datalable="Order Date">29/10/2023</td>
                                    <td class="text-center" datalable="Payment Method">Cash</td>
                                    <td class="text-center" datalable="Delivery Date">2/11/2023</td>
                                    <td class="text-center" datalable="Total Amount">$05.22</td>
                                    <td class="text-center" datalable="Stutas">Paid</td>
                                    <td class="text-center" datalable="Action">
                                        <div class="d-flex align-items-center">
                                            <i class="fa-solid fa-trash-can mx-1"></i>
                                            <i class="fa-solid fa-eye mx-1"></i>
                                            <i class="fa-solid fa-pen mx-1"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" datalable="Order ID">855217</td>
                                    <td class="text-center" datalable="Customer">Sowerd</td>
                                    <td class="text-center" datalable="Order Date">29/10/2023</td>
                                    <td class="text-center" datalable="Payment Method">Cash</td>
                                    <td class="text-center" datalable="Delivery Date">2/11/2023</td>
                                    <td class="text-center" datalable="Total Amount">$05.22</td>
                                    <td class="text-center" datalable="Stutas">Paid</td>
                                    <td class="text-center" datalable="Action">
                                        <div class="d-flex align-items-center">
                                            <i class="fa-solid fa-trash-can mx-1"></i>
                                            <i class="fa-solid fa-eye mx-1"></i>
                                            <i class="fa-solid fa-pen mx-1"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" datalable="Order ID">855218</td>
                                    <td class="text-center" datalable="Customer">Sowerd</td>
                                    <td class="text-center" datalable="Order Date">29/10/2023</td>
                                    <td class="text-center" datalable="Payment Method">Cash</td>
                                    <td class="text-center" datalable="Delivery Date">2/11/2023</td>
                                    <td class="text-center" datalable="Total Amount">$05.22</td>
                                    <td class="text-center" datalable="Stutas">Paid</td>
                                    <td class="text-center" datalable="Action">
                                        <div class="d-flex align-items-center">
                                            <i class="fa-solid fa-trash-can mx-1"></i>
                                            <i class="fa-solid fa-eye mx-1"></i>
                                            <i class="fa-solid fa-pen mx-1"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" datalable="Order ID">855219</td>
                                    <td class="text-center" datalable="Customer">Sowerd</td>
                                    <td class="text-center" datalable="Order Date">29/10/2023</td>
                                    <td class="text-center" datalable="Payment Method">Cash</td>
                                    <td class="text-center" datalable="Delivery Date">2/11/2023</td>
                                    <td class="text-center" datalable="Total Amount">$05.22</td>
                                    <td class="text-center" datalable="Stutas">Paid</td>
                                    <td class="text-center" datalable="Action">
                                        <div class="d-flex align-items-center">
                                            <i class="fa-solid fa-trash-can mx-1"></i>
                                            <i class="fa-solid fa-eye mx-1"></i>
                                            <i class="fa-solid fa-pen mx-1"></i>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" datalable="Order ID">855220</td>
                                    <td class="text-center" datalable="Customer">Sowerd</td>
                                    <td class="text-center" datalable="Order Date">29/10/2023</td>
                                    <td class="text-center" datalable="Payment Method">Cash</td>
                                    <td class="text-center" datalable="Delivery Date">2/11/2023</td>
                                    <td class="text-center" datalable="Total Amount">$05.22</td>
                                    <td class="text-center" datalable="Stutas">Paid</td>
                                    <td class="text-center" datalable="Action">
                                        <div class="d-flex align-items-center">
                                            <i class="fa-solid fa-trash-can mx-1"></i>
                                            <i class="fa-solid fa-eye mx-1"></i>
                                            <i class="fa-solid fa-pen mx-1"></i>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-4">
    <div class="container-fluid">
        <div class="works p-4 shadow rounded">
            <div class="d-flex align-items-center">
                <h4>Works Deadlines</h4>
                <div class="ms-auto">
                    <button class="btn btn-primary" (click)="show()">View All</button>
                </div>
            </div>
            <!--  -->
            <div class="pt-4">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Last Contacted</th>
                            <th>Sales Respresentative</th>
                            <th>Stutas</th>
                            <th>Deal Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td datalable="Name">Absternet LLC</td>
                            <td datalable="Last Contacted">Sep 20, 2021</td>
                            <td datalable="Sales Respresentative">Donald Risher</td>
                            <td datalable="Stutas">Deal Won</td>
                            <td datalable="Deal Value">125k</td>
                        </tr>
                        <tr>
                            <td datalable="Name">Absternet LLC</td>
                            <td datalable="Last Contacted">Sep 20, 2021</td>
                            <td datalable="Sales Respresentative">Donald Risher</td>
                            <td datalable="Stutas">Deal Won</td>
                            <td datalable="Deal Value">125k</td>
                        </tr>
                        <tr>
                            <td datalable="Name">Absternet LLC</td>
                            <td datalable="Last Contacted">Sep 20, 2021</td>
                            <td datalable="Sales Respresentative">Donald Risher</td>
                            <td datalable="Stutas">Deal Won</td>
                            <td datalable="Deal Value">125k</td>
                        </tr>
                        <tr>
                            <td datalable="Name">Absternet LLC</td>
                            <td datalable="Last Contacted">Sep 20, 2021</td>
                            <td datalable="Sales Respresentative">Donald Risher</td>
                            <td datalable="Stutas">Deal Won</td>
                            <td datalable="Deal Value">125k</td>
                        </tr>
                        <tr>
                            <td datalable="Name">Absternet LLC</td>
                            <td datalable="Last Contacted">Sep 20, 2021</td>
                            <td datalable="Sales Respresentative">Donald Risher</td>
                            <td datalable="Stutas">Deal Won</td>
                            <td datalable="Deal Value">125k</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="display">
                        <tr>
                            <td datalable="Name">Absternet LLC</td>
                            <td datalable="Last Contacted">Sep 20, 2021</td>
                            <td datalable="Sales Respresentative">Donald Risher</td>
                            <td datalable="Stutas">Deal Won</td>
                            <td datalable="Deal Value">125k</td>
                        </tr>
                        <tr>
                            <td datalable="Name">Absternet LLC</td>
                            <td datalable="Last Contacted">Sep 20, 2021</td>
                            <td datalable="Sales Respresentative">Donald Risher</td>
                            <td datalable="Stutas">Deal Won</td>
                            <td datalable="Deal Value">125k</td>
                        </tr>
                        <tr>
                            <td datalable="Name">Absternet LLC</td>
                            <td datalable="Last Contacted">Sep 20, 2021</td>
                            <td datalable="Sales Respresentative">Donald Risher</td>
                            <td datalable="Stutas">Deal Won</td>
                            <td datalable="Deal Value">125k</td>
                        </tr>
                        <tr>
                            <td datalable="Name">Absternet LLC</td>
                            <td datalable="Last Contacted">Sep 20, 2021</td>
                            <td datalable="Sales Respresentative">Donald Risher</td>
                            <td datalable="Stutas">Deal Won</td>
                            <td datalable="Deal Value">125k</td>
                        </tr>
                        <tr>
                            <td datalable="Name">Absternet LLC</td>
                            <td datalable="Last Contacted">Sep 20, 2021</td>
                            <td datalable="Sales Respresentative">Donald Risher</td>
                            <td datalable="Stutas">Deal Won</td>
                            <td datalable="Deal Value">125k</td>
                        </tr>
                        <tr>
                            <td datalable="Name">Absternet LLC</td>
                            <td datalable="Last Contacted">Sep 20, 2021</td>
                            <td datalable="Sales Respresentative">Donald Risher</td>
                            <td datalable="Stutas">Deal Won</td>
                            <td datalable="Deal Value">125k</td>
                        </tr>
                        <tr>
                            <td datalable="Name">Absternet LLC</td>
                            <td datalable="Last Contacted">Sep 20, 2021</td>
                            <td datalable="Sales Respresentative">Donald Risher</td>
                            <td datalable="Stutas">Deal Won</td>
                            <td datalable="Deal Value">125k</td>
                        </tr>
                        <tr>
                            <td datalable="Name">Absternet LLC</td>
                            <td datalable="Last Contacted">Sep 20, 2021</td>
                            <td datalable="Sales Respresentative">Donald Risher</td>
                            <td datalable="Stutas">Deal Won</td>
                            <td datalable="Deal Value">125k</td>
                        </tr>
                        <tr>
                            <td datalable="Name">Absternet LLC</td>
                            <td datalable="Last Contacted">Sep 20, 2021</td>
                            <td datalable="Sales Respresentative">Donald Risher</td>
                            <td datalable="Stutas">Deal Won</td>
                            <td datalable="Deal Value">125k</td>
                        </tr>
                        <tr>
                            <td datalable="Name">Absternet LLC</td>
                            <td datalable="Last Contacted">Sep 20, 2021</td>
                            <td datalable="Sales Respresentative">Donald Risher</td>
                            <td datalable="Stutas">Deal Won</td>
                            <td datalable="Deal Value">125k</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>